# Предпосылки
* .д

# Скомпилированные объектные файлы
* .сло
* .ло
* .о
* .объект

# Предварительно скомпилированные заголовки
* .гч
* .pch

# Скомпилированные динамические библиотеки
* .so
* .dylib
* .dll

# Файлы модуля Fortran
* .мод
* .смод

# Скомпилированные статические библиотеки
* .лай
* .ла
* .а
* .lib

# Исполняемые файлы
* .exe
* .выход
* .приложение
* .png
